body{
	margin:0;
}

.top_container{
	width: 90%;
	margin: 0px auto;
	display: block;
}
.sep{
	clear: both;
}
.search_fn{
	margin-top: 2em;
}

.utility{
	float: left;
	border: 2px solid green;
	padding: 1em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#age_filter{
	width: 250px;
}

#parent_emails{
	float: left;
	margin-left: 1em;
}

#member_emails{
	float: left;
	margin-left: 1em;
}

.header{
	height: 106px;
	border-top:6px solid #871528;
	border-bottom:1px solid #67666A;
	margin-bottom:1em;
	background:#EEE;
}

.inner_header{
	width: 90%;
	margin: 0 auto;
}
.inner_header img{
	margin-top: 10px;
}
#title{
	bottom: 5px;
	font-size: 35px;
	font-family:Arial Black, Gadget, sans-serif;
	font-variant:small-caps;
	color: #3B3B3B;
	margin: 5px;
}
.nav_profile{
	float:right;
	margin-top:10px;
}
